.error{
	display: none;
	margin-left: 10px;
}		

.errorShow{
	color: red;
	margin-left: 10px;
}

input.invalid, textarea.invalid{
	border: 1px solid red;
}

input.valid, textarea.valid{
	border: 1px solid ;
}