<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Report</title>
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    </head>
	<body>
        <div class="container-fluid">
            <img src="/public/img/logo.png">
            <h6 class="font-weight-bold">Sony Brasil Ltda.</h6>
            <ul class="list-unstyled">
                <li>Rua Werner Siemens, 111 | Condomínio e-Business Park | Prédio 1</li>
                <li>CEP: 05069-010 | Lapa | São Paulo | SP | Brasil</li>
                <li>Tel.: (11) 2196-9000 - Fax.: 2196-9186</li>
            </ul>
            <hr>
            aaa
        </div>
        <script type="text/javascript" src="/public/scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/public/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/scripts/script.js"></script> 
	</body>
</html>