<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Inserir orcamentos!</title>
		<script>
		

				var data = JSON.parse("<%- summData %>")

				function completaCNPJ(val){
					
					try {
						let filtro = data.cliente.filter((arr)=>
							arr.nomeCliente == val.toUpperCase())
						cnpj.value = filtro[0].cnpj;					
						cnpj.readOnly = true;
						responsavel.value = filtro[0].responsavel;
						responsavel.readOnly = true;
						departamento.value = filtro[0].departamento;
						departamento.readOnly = true;
						
					} catch {
						cnpj.value = "";
						cnpj.readOnly = false;
					}
				}
			</script>
	</head>
	<body>
		<form action="/inserirOrc" method="post">
			<table>
				<tr>
					<td>Cliente</td>
					<td>CNPJ</td>
					<td>Responsável</td>
					<td>Departamento</td>
				</tr>

				<tr>
					<td><input autocomplete="off" type="text" name="nomeCliente" list="nomeCliente" onBlur="completaCNPJ(this.value);" 
						onFocus="cnpj.readOnly = false;"></td>
					<datalist id="nomeCliente">
						<% //console.log(JSON.stringify(montaData,null,4)); %>
						<% for (var i=0; i < montaData.cliente.length; i++) { %>
							<option value="<%= montaData.cliente[i].nomeCliente %>">
						<% } %>	
					</datalist>
					<td><input autocomplete="off" type="text" name="cnpj" id="cnpj"></td>
					<td><input autocomplete="off" type="text" name="responsavel" id="responsavel"></td>
					<td><input autocomplete="off" type="text" name="departamento" id="departamento"></td>
				</tr>
				<tr>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
				</tr>
				<tr>
					<td><input autocomplete="off" type="text" name="nomeEquip" list="nomeEquip" id="nomeEquip"></td>
					<datalist id="nomeEquip">
						<% for (var i=0; i < montaData.equip.length; i++) { %>
							<option value="<%= montaData.equip[i].nomeEquip %>">
						<% } %>	
					</datalist>
					<td><input autocomplete="off" type="text" name="serialNumber" id="serialNumber" list="serialNumber"></td>
					<td><input autocomplete="off" type="number" name="valor" id="valor"></td>
				</tr>
				<tr>
					<td><button onclick="this.disabled=false; this.form.submit();">Submit</button></td>								
					<td><input type="hidden" name="idUsuario" value="1"></td>
				</tr>
			
			</table>
		</form>
	</body>
</html>