<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Inserir orcamentos!</title>
	</head>
	<body>
		<form action="/inserirOrc" method="post">
			<table>
				<tr>
					<td>Cliente</td>
					<td>CNPJ</td>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
				</tr>

				<tr>
					<td><input autocomplete="off" type="text" name="nomeCliente" list="nomeCliente" onBlur="completaCNPJ(this.value);" 
						onFocus="cnpj.readOnly = false;"></td>
					<datalist id="nomeCliente">
						<% console.log(JSON.stringify(detalhe,null,4)); %>
						<% for (var i=0; i < detalhe.cliente.length; i++) { %>
							<option value="<%= detalhe.cliente[i].nomeCliente %>">
						<% } %>	
					</datalist>
					<td><input autocomplete="off" type="text" name="cnpj" id="cnpj"></td>
					<td><input autocomplete="off" type="text" name="nomeEquip" list="nomeEquip" id="nomeEquip"></td>
					<datalist id="nomeEquip">
						<% for (var i=0; i < detalhe.equip.length; i++) { %>
							<option value="<%= detalhe.equip[i].nomeEquip %>">
						<% } %>	
					</datalist>
					<td><input autocomplete="off" type="number" name="serialNumber" id="serialNumber"></td>
					<td><input autocomplete="off" type="number" name="valor" id="valor"></td>
					<td><input type="hidden" name="idUsuario" value="1"></td>
					<tr>
						<td><button onclick="this.disabled=true; this.form.submit();">Submit</button></td>					
					</tr>
				</tr>
			
			</table>
		</form>
	<script>
		function completaCNPJ(val){
			cnpj.value = val;
			cnpj.readOnly = true;
		}
		function eliminateDuplicates(arr) {
			var i,
				len = arr.length,
				out = [],
				obj = {};

			for (i = 0; i < len; i++) {
				obj[arr[i]] = 0;
			}
			for (i in obj) {
				out.push(i);
			}
			return out;
		}
	</script>
	</body>
</html>