<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Inserir orcamentos!</title>
		<script type="text/javascript"> var data = JSON.parse("<%- summData %>")</script>
		<script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="scripts/script.js"></script>
		</head>
	<body>
		<form action="/inserirOrc" method="post">
			<table>
				<tr>
					<td>Cliente</td>
					<td>CNPJ</td>
					<td>Responsável</td>
					<td>Departamento</td>
				</tr>

				<tr>
					<td><input autocomplete="off" type="text" name="nomeCliente" list="nomeList" id="nomeCliente"></td>
					<datalist id="nomeList"></datalist>
					<td><input autocomplete="off" type="text" name="cnpj" id="cnpj"></td>
					<datalist id="respList"></datalist>
					<td><input autocomplete="off" type="text" name="responsavel" id="responsavel" list="respList"></td>
					<td><input autocomplete="off" type="text" name="departamento" id="departamento"></td>
				</tr>
				<tr>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
				</tr>
				<tr>
					<td><input autocomplete="off" type="text" name="nomeEquip" list="equipList" id="nomeEquip"></td>
					<datalist id="equipList"></datalist>
					<td><input autocomplete="off" type="text" name="serialNumber" id="serialNumber" list="serialList"></td>
					<datalist id="serialList"></datalist>
					<td><input autocomplete="off" type="number" name="valor" id="valor"></td>
				</tr>
				<tr>
					<td><button onclick="this.disabled=true; this.form.submit();">Submit</button></td>	
					<td><input type="button" onclick="window.location.href='/home'" value="Home" /></td>								
				</tr>
			
			</table>
		</form>
	</body>
</html>