<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css"> 
    </head>
	<body>
        <div class="container">
            <div class="card">
                <div class="card-header bg-primary text-white">Login</div>
                <div class="card-body">
                    <form action="/login" id="form" method="post">

                        <div class="form-group">
                            <label for="login">Usu치rio</label>
                            <input name="login" type="email" class="form-control" id="login" aria-describedby="login" placeholder="Digite seu usu치rio" required><span class="error"><small>Campo obrigat칩rio</small></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="Senha"><span class="error"><small>Campo obrigat칩rio</small></span>
                        </div>
                        <input class="btn btn-primary mt-4" onclick="sendForm()" type="button" id="send" value="Enviar">


                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/public/scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/public/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/scripts/script.js"></script>
	</body>
</html>