<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Detalhe de orcamentos</title>
	</head>
	<body>
		<h1>Detalhe de orcamento</h1>
		<table>
				<tr>
					<td>Id</td>
					<td>Cliente</td>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
					<td>Responsavel</td>
					<td>Status</td>
					<td>Data de criacao</td>
				</tr>
	
				<% for (let i=0; i < detalhe.length; i++) {%>
	
					<%-		app.models.orcamentos.montaOrc(app, detalhe[i]); %>
	
				<% } %>
				
				<tr>
					<td><input type="button" onclick="window.location.href='/home'" value="Home" /></td>
					<td><input type="button" onclick="window.location.href='/listaOrcamentos'" value="Retornar" /></td>
				</tr>
			</table>
	</body>
</html>