.error{
	display: none;
	margin-left: 10px;
}		

.errorShow{
	color: red;
	margin-left: 10px;
}

input.invalid, textarea.invalid{
	border: 1px solid red;
}

input.valid, textarea.valid{
	border: 1px solid ;
}

select {
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    -webkit-appearance:none;
    appearance:none;
    padding-left:0.2rem;
    padding-right:0.2rem;
}

body {
    padding: 2rem;
}