<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Erro 404!</title>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	</head>
	<body>
		<h1>Erro 404<br>
			Recurso não encontrado!</h1>	
		<input type="button" onclick="window.location.href='/home'" value="Home" />	
	</body>
</html>